<% provide(:title, "All Raw Materials") %>
<h1>All Raw Materials</h1>
<%= link_to "Raw Mat. Req.", raw_material_requirement_path, class: 'btn btn-primary btn-xs', style: "color: black;" %>
<%= link_to "New Raw Material", new_raw_material_path, class: 'btn btn-primary btn-xs', style: "color: black;" %>

<table class="table table-hover">
	<tr>
		<th>
			Name
		</th>
		<th>
			Veg Non Egg
		</th>
		<th>
			Actions
		</th>
	</tr>
	<% @raw_materials.each do |raw_material| %>
		<tr>
			<td>
				<%= raw_material.name %>
			</td>
			<td>
				<%= raw_material.veg_non_egg %>
			</td>
			<td>
				<%= link_to "edit", edit_raw_material_path(raw_material) %>
			</td>
		</tr>
	<% end %>
</table>