<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in" style="margin-bottom:150px"></div>
            <!--<div class="intro-heading">It's Nice To Meet You</div>-->
            <% if logged_in? %>
                <a href="#portfolio" class="page-scroll btn btn-xl" style="padding:10px 40px !important;margin-bottom:10px; color: black;"><%= active_day active_menu_date %> Menu</a>
            <% else %>
                <a href="signup" class="page-scroll btn btn-xl" style="padding:10px 40px !important;margin-bottom:10px; color: black;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sign Up&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
                <a href="#portfolio" class="page-scroll btn btn-xl" style="padding:10px 40px !important;margin-bottom:10px; color: black;"><%= active_day active_menu_date %> Menu</a>
            <% end %>
        </div>
    </div>
</header>
<!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row" style="margin:-70px !important;">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading"><%= active_day active_menu_date %> Menu</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <% menus_on(active_menu_date).each do |menu| %>
                    <%= render menu %>
                <% end %>
            </div>
            <div class="col-md-4 col-md-offset-4">
                <%= link_to "Make an order", new_delivery_path, class: "btn btn-xl text-center", style: "color: black;" %>
            </div>
        </div>
    </section>

    
    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading" style="color: #fed136;">Contact Us</h2>
                    <h3 class="section-subheading text-muted">praveen@breadnpulp.com | 75062 44659 | facebook.com/breadnpulp</h3>
                </div>
            </div>
        </div>
    </section>
