<div class="col-xs-<%= xs %> col-sm-<%= sm %> col-md-<%= md %> col-lg-<%= lg %> portfolio-item" style="text-align: center;">
	<%= render menu.kickerr %>
	<h6 class="text-muted" style="text-transform: none; font-size: 130%;">Rs. <%= menu.get_price %></h6>
	<br>
	<br>
</div>