<% provide(:title, "Raw Material Requirement") %>
<div class="container">
	<h1>Raw Material Requirement</h1>

	<%= form_tag do %>
		<%= select_date(date = Date.current, options = {}, html_options = { class: 'form-control' }) %>

		<%= submit_tag :get_requirement, class: 'btn btn-primary' %>
	<% end %>

	<h3>For <%= @date %></h3>
	<table class="table table-hover">
		<tr>
			<th>Raw Material Name (in unit)</th>
			<th>Quantity</th>
		</tr>
		<% @requirements.each do |key, value| %>
			<tr>
				<td><%= key %></td>
				<td><%= value.round(2) %></td>
			</tr>
		<% end %>
	</table>
</div>