<div class="container">
	<h1>New Despatch</h1>

	<h3>Select date</h3>
	<%= form_tag do %>
		<%= select_date(date = Date.current, options = {}, html_options = { class: 'col-xs-4' }) %>

		<%= submit_tag "get drops", class: 'btn btn-primary', style: 'color: black' %>
	<% end %>
	<h2>Showing drops for <%= @date %></h2>
	<%= form_for @despatch do |despatch_form| %>
		<%= despatch_form.hidden_field :despatch_date, value: @date %>
		<div class="well">
			<%= despatch_form.label :drops %>
			<div class="row">
				<% @drops.each do |drop| %>
					<div class="col-md-4">
						<div class="panel panel-default">
							<div class="panel-heading">
								<%= check_box_tag "despatch[drop_ids][]", drop.id %>
								<strong><%= drop.drop_address %></strong>
								<br>
								<%= drop.expected_at.strftime("%I:%M%p") %>
							</div>
							<div class="panel-body">
								<% drop.deliveries.each do |delivery| %>
									<%= delivery.user.name %> |
										 <%= delivery.user.phone_number %>
									<br>
									<% delivery.packs.each do |pack| %>
										<%= pack.menu.kickerr.name %>
										<%= pack.quantity %><br>
									<% end %>
									<br>
								<% end %>
							</div>
						</div>
					</div>
				<% end %>
			</div>
		</div>
		<div class="well">
			<div class="row">
				<div class="col-md-4">
					<%= despatch_form.label :service_provider %>
					<%= despatch_form.select :service_provider, ["Service Provider", "Breadnpulp drop", "Other"], {}, { class: 'form-control' } %>
				</div>
				<div class="col-md-4">
					<%= despatch_form.label :rider %>
					<%= despatch_form.select(:user_id, User.with_role(:rider).map{ |user| [user.name, user.id] } << [nil, nil], {}, { class: 'form-control' }) %>
				</div>
				<div class="col-md-4">
					<%= despatch_form.label :despatch_time %>
					<br>
					<% Time.zone = "Chennai" %>
					<%= despatch_form.time_select :despatch_time, value: Time.zone.now %>
				</div>
			</div>
			<div class="row">
				<%= despatch_form.label :comment %>
				<%= despatch_form.text_field :comment, class: 'form-control' %>
			</div>
		</div>

		<%= despatch_form.submit :create_despatch, class: 'btn btn-primary', style: 'color: black;' %>
	<% end %>
</div>