<tr>
	<td>
		<%= user.id %>
	</td>
	<td>
		<h5><%= link_to user.name, user, style: "color: black;" %></h5>
	</td>
	<td>
		<%= user.phone_number %>
	</td>
	<td>
		<%= user.email %>
	</td>
	<td>
		<%= user.source %>
	</td>
	<td>
		<%= user.created_at %>
	</td>
	<td>
		<%= user.activated? %>
	</td>
	<td>
		<%= user.admin? %>
	</td>
	<td>
		<%= link_to 'edit', edit_user_path(user) %>
	</td>
</tr>