<tr>
	<td>
		<%= user.id %>
	</td>
	<td>
		<%= user.name %>
	</td>
	<td>
		<%= user.phone_number %>
	</td>
	<td>
		<%= user.email %>
	</td>
	<td>
		<%= user.source %>
	</td>
	<td>
		<%= user.created_at %>
	</td>
	<td>
		<%= user.admin? %>
	</td>
</tr>