<% provide(:title, @user.name) %>
<div class="container">
<aside class="col-md-4">
  <section class="user_info" style="padding:0px 0px;margin-top:10vh">
    <h1 align="center">
      <%= @user.name %>
    </h1>
    <p align="center">
      <%= @user.email %><br>
      <%= @user.phone_number %>
    </p>
  </section>
    <section class="address_form form-group" style="padding:5vh 0px;">
      <h3 align="center">
      <%= current_user?(@user)? "My new addresses" : "#{@user.name}'s addresses" %>
    </h3>
      <%= render 'shared/address_form' %>
    </section>
    <h3 align="center">
      <%= current_user?(@user)? "My addresses" : "#{@user.name}'s addresses" %>
    </h3>
    <div class="addresses">
      <%= render @addresses %>
    </div>
</aside>

<div class="col-xs-12 col-sm-12 col-md-8">
  <div class="center">
    <h3>My orders</h3>
  </div>
  <div class="row">
    <% @deliveries.each do |delivery| %>
    <div class="col-xs-12 col-md-6 col-sm-6">
      <div class="thumbnail">
        <div class="container col-md-12 col-sm-12 col-xs-12" style="margin-top: 0px;">
          <h5><%= "MUM1001" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= delivery.delivery_date %></h5><small><%= link_to "edit", edit_delivery_path(delivery) %></small>
          <table class="table table-hover">
              <tr> 
                  <th>Kickers</th> 
                  <th>Qty</th> 
                  <th>Cost</th>
     
              </tr>
              <% delivery.packs.each do |pack| %>
                <tr>  
                    <td><%= pack.menu.kickerr.name %></td> 
                    <td><%= pack.quantity %></td>
                    <td><%= pack.quantity * pack.get_unit_price %></td>
                </tr>
              <% end %>
          </table>
        </div>
        <div style="padding: 15px;">
        <li class="text-left" style="list-style: none;"><%= delivery.address.postal_address %></li>
        <li class="text-left" style="list-style: none;"><%= delivery.at.strftime("at %I:%M%p") %></li>
        <b><li class="text-left" style="list-style: none;"><%= delivery.delivery_status.name %></li></b>
        </div>
    </div>
  </div>
  <% end %>
</div>
</div>
</div>