<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @user.name %>
      </h1>
      <p>
        <%= @user.email %>
        <%= @user.phone_number %>
	  </p>
    </section>
    <section class="address_form">
        <%= render 'shared/address_form' %>
      </section>
  </aside>

  <div class="col-md-4">
    <h2>My addresses</h2>
    <div class="addresses">
      <%= render @addresses %>
    </div>
  </div>
</div>

