<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @user.name %>
      </h1>
      <p>
        <%= @user.email %>
        <%= @user.phone_number %>
      </p>
    </section>
    <% if current_user?(@user) %>
      <section class="address_form">
        <h2>My new address</h2>  
        <%= render 'shared/address_form' %>
      </section>
    <% end %>
  </aside>

  <div class="col-md-4">
    <h2><%= current_user?(@user)? "My delivery addresses" : "#{@user.name}'s addresses" %></h2>
    <div class="addresses">
      <%= render @addresses %>
    </div>
  </div>

  <div class="col-md-4">
    <h2>My Deliveries</h2>
    <% @user.deliveries.each do |d| %>
      <br><%= d.on %><br>
      <%= d.at.in_time_zone(TZInfo::Timezone.get('Asia/Kolkata')).strftime("%I:%M%p") %><br>
      <%= d.delivery_status.name %><br>
        <% d.packs.each do |p| %>
          <%= p.menu.kickerr.name %>
          <%= p.quantity %><br>
        <% end %>
    <% end %>
</div>

