<% provide(:title, "All coupons") %>
<div class="container">
	<div class="col-md-4">
		<h1>New Coupon</h1>
		<%= render 'form' %>
	</div>

	<div class="col-md-8">
		<h2>All Coupons</h2>
		<% @coupons.each do |coupon| %>
			<div class="panel panel-default">
				<div class="panel-heading">
					<%= coupon.code %>
				</div>
				<div class="panel-body">
					Original price - <%= coupon.original_price %><br>
					Final price - <%= coupon.final_price %><br>
					Active? - <%= coupon.active %><br>
				</div>
				<div class="panel-footer">
					<%= link_to "edit", edit_coupon_path(coupon) %> |
				 <%= link_to "delete", coupon, method: :delete, data: { confirm: "You sure?" } %><br>
			 	</div>
		 	</div>
		<% end %>
	</div>
</div>
