<%= form_for(@address) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
  	<%= f.text_field :name, placeholder: "Address name..." %>
    <%= f.text_area :full_address, placeholder: "Add a new address..." %>
    <%= f.text_field :pincode, placeholder: "Pincode..."
  </div>
  <%= f.submit "Add", class: "btn btn-primary" %>
<% end %>