<tr>
	<td>
		<%= link_to delivery.user.name, delivery.user, class: 'btn btn-success btn-xs' %>
		<br>
		<%= delivery.user.phone_number %>
		<br>
		<small><%= delivery.address.present? ? delivery.address.postal_address : "No address" %></small>
	</td>
	<td>
		<% delivery.packs.each do |pack| %>
			<div class="panel panel-defalut">
				<%= pack.menu.kickerr.name %> : <%= pack.menu.kickerr.kickerr_size %> : <%= pack.quantity %><br>
			</div>
		<% end %>
	</td>
	<td>
		<b style="color: <%= delivery.delivery_status.colorize %>"><%= delivery.delivery_status.name %></b>
		<br>
		<%= link_to "edit", edit_delivery_path(delivery), class: 'btn btn-warning btn-xs' %>
		<br>
		<%= delivery.delivery_date %>
		<br>
		<h5><%= "Despatch at: " + (delivery.at - 30.minutes).strftime("%I:%M%p") %></h5>
		<br>
	</td>
	<td>
		<%= delivery.payment_status.name %>
		<br>
		Coupon code: <%= delivery.coupon_code || "no coupon code" %>
		<br>
		<%= delivery.payment_date || "Payment date not mentioned" %>
		<br>
		<%= delivery.payment_mode %>
		<br>
		Rs. <%= delivery.get_total_amount %>
		<br>
		<% if delivery.payment_status.name == 'Payment Due' && delivery.payment_date != nil %>
			<%= link_to "mark as payment completed", delivery_path(delivery, "delivery[payment_status_id]" => PaymentStatus.find_by(name: 'Payment Complete').id), method: :put, data: { :confirm => "Are you sure you have collected #{delivery.user.name}'s payment?" }, class: 'btn btn-danger btn-xs' %>
		<% end %>
	</td>
	<td>
		<% if delivery.rider.nil? %>
			<%= "Rider not allotted" %><br>
		<% else %>
			<%= "Rider: #{delivery.rider.name} | #{delivery.rider.phone_number}" %><br>
		<% end %>
		<% if delivery.delivery_status.name == 'Tentative' %>
			<%= link_to "mark as confirmed", confirm_order_path(id: delivery.id),
											 data: { confirm: "Are you sure you have confirmed #{delivery.user.name}'s order?" },
											 class: 'btn btn-info btn-xs' %> | 
			<%= link_to "mark as cancelled", cancel_order_path(id: delivery.id),
											 data: { confirm: "Are you sure you want to cancel #{delivery.user.name}'s order?" },
											 class: 'btn btn-info btn-xs' %>
		<% elsif delivery.delivery_status.name == 'Confirmed' %>
			<%= link_to "mark as despatched", despatch_order_path(id: delivery.id),
											  data: { :confirm => "Are you sure you have despatched #{delivery.user.name}'s order?" },
											  class: 'btn btn-danger btn-xs' %>
			<%= form_for delivery do |delivery_form| %>
				<%= delivery_form.label :assign_rider %><br>
				<%= delivery_form.select :rider_id, @riders.reverse, {}, { class: 'form-control' } %><br>
				<%= delivery_form.submit :assign_rider, 
										 data: { :confirm => "Are you sure you want to assign rider to #{delivery.user.name}'s order?" },
										 class: 'btn btn-info btn-xs', style: 'color: black;' %><br>
			<% end %>
		<% elsif delivery.delivery_status.name == 'Despatched' %>
			<%= link_to "mark as returned", return_order_path(id: delivery.id),
											 data: { confirm: "Are you sure you have confirmed #{delivery.user.name}'s order?" },
											 class: 'btn btn-info btn-xs' %> | 
			<%= link_to "mark as delivered", deliver_order_path(id: delivery.id),
											 data: { confirm: "Are you sure you have delivered #{delivery.user.name}'s order?" },
											 class: 'btn btn-success btn-xs' %><br>
		<% end %>
	</td>
</tr>