<tr>
	<td>
		<%= delivery.booking_no %>
		<br>
		<b style="color: <%= delivery.delivery_status.colorize %>"><%= delivery.delivery_status.name %></b>
		<br>
		<br>
		<%= link_to "edit", edit_delivery_path(delivery), class: 'btn btn-danger btn-xs' %>
	</td>
	<td>
		<%= delivery.delivery_date %>
		<br>
		<%= (delivery.at - 45.minutes).strftime("%I:%M%p") %>
		<br>
		<br>
		<%= link_to "mark as despatched", delivery_path(delivery, "delivery[delivery_status_id]" => DeliveryStatus.find_by(name: 'Despatched').id), method: :put, data: { :confirm => "Are you sure you have despatched #{delivery.user.name}'s order?" }, class: 'btn btn-info btn-xs', style: 'color: black;' %>
	</td>
	<td>
		<%= delivery.user.name %>
		<br>
		<%= delivery.user.phone_number %>
	</td>
	<td>
		<%= delivery.address.postal_address %>
	</td>
	<td>
		<%= delivery.payment_status.name %>
		<br>
		<%= delivery.payment_date %>
		<br>
		<%= delivery.payment_mode %>
		<br>
		Rs. <%= delivery.get_total_amount %>
	</td>
	<td>
		<% delivery.packs.each do |pack| %>
			<%= pack.menu.kickerr.name %> : <%= pack.quantity %><br>
		<% end %>
	</td>
</tr>