<tr>
	<td>
		<%= delivery.booking_no %>
		<br>
		<b style="color: <%= delivery.delivery_status.colorize %>"><%= delivery.delivery_status.name %></b>
		<br>
		<%= link_to "edit", edit_delivery_path(delivery), class: 'btn btn-warning btn-xs' %>
		<br>
		<%= delivery.delivery_date %>
		<br>
		<h5><%= (delivery.at - 30.minutes).strftime("%I:%M%p") %></h5>
		<br>
		<% if delivery.delivery_status.name == 'Confirmed' %>
			<%= link_to "mark as despatched", delivery_path(delivery, "delivery[delivery_status_id]" => DeliveryStatus.find_by(name: 'Despatched').id), method: :put, data: { :confirm => "Are you sure you have despatched #{delivery.user.name}'s order?" }, class: 'btn btn-danger btn-xs' %>
		<% end %>
	</td>
	<td>
		<%= delivery.payment_status.name %>
		<br>
		<%= delivery.payment_date || "Payment date not mentioned" %>
		<br>
		<%= delivery.payment_mode %>
		<br>
		Rs. <%= delivery.get_total_amount %>
		<br>
		<% if delivery.payment_status.name == 'Payment Due' && delivery.payment_date != nil %>
			<%= link_to "mark as payment completed", delivery_path(delivery, "delivery[payment_status_id]" => PaymentStatus.find_by(name: 'Payment Complete').id), method: :put, data: { :confirm => "Are you sure you have collected #{delivery.user.name}'s payment?" }, class: 'btn btn-danger btn-xs' %>
		<% end %>
	</td>
	<td>
		<%= link_to delivery.user.name, delivery.user, class: 'btn btn-success btn-xs' %>
		<br>
		<%= delivery.user.phone_number %>
		<br>
		<small><%= delivery.address.postal_address %></small>
	</td>
	<td>
		<% delivery.packs.each do |pack| %>
			<div class="panel panel-defalut">
				<%= pack.menu.kickerr.name %> : <%= pack.menu.kickerr.kickerr_size %> : <%= pack.quantity %><br>
			</div>
		<% end %>
	</td>
	<td>
		<% if delivery.drop_id.nil? %>
			<%= link_to "set drop", new_drop_path(
			date:
			{
				year: delivery.delivery_date.year,
				month: delivery.delivery_date.month,
				day: delivery.delivery_date.day
			}),
			class: 'btn btn-info btn-xs' %>
		<% else %>
			<% if delivery.drop.despatch_id.nil? %>
				<%= link_to "set despatch", new_despatch_path(
				date:
				{
					year: delivery.delivery_date.year,
					month: delivery.delivery_date.month,
					day: delivery.delivery_date.day
				}),
				class: 'btn btn-info btn-xs' %>
			<% else %>
				<% if delivery.drop.despatch.rider.present? %>
					<%= delivery.drop.despatch.rider.name %> | 
				<% end %>
				<%= delivery.drop.despatch.despatch_time.strftime("%I:%M%p") %>
			<% end %>
		<% end %>
	</td>
</tr>