<% provide(:title, "New Delivery") %>

<h1>New Delivery</h1>

<div class="row">
	<% menus_on(active_menu_date).each do |menu| %>
		<div class="col-md-3">
			<%= render menu.kickerr %>
		</div>
	<% end %>
</div>	

<%= form_for @delivery do |delivery_form| %>
	
	<%= render 'shared/error_messages', object: delivery_form.object %>
	
	<div class="row">
		<%= delivery_form.fields_for :packs do |pack_fields| %>
			<%= render 'packs/pack', f: pack_fields %>
		<% end %>
	</div>

	<%= delivery_form.label :at %>
	<%= delivery_form.time_field :at, class: 'form-control' %>

	

	<%= delivery_form.submit "Confirm order", class: 'btn btn-primary' %>
<% end %>