<% provide(:title, "New Order") %>
<div class="container">

<h1>New Order</h1>

<div class="row">
	<% menus_on(active_menu_date).each do |menu| %>
		<%= render menu.kickerr %>
	<% end %>
</div>	

<%= form_for @delivery do |delivery_form| %>
	
	<%= render 'shared/error_messages', object: delivery_form.object %>
	
	<div class="row">
		<%= delivery_form.fields_for :packs do |pack_fields| %>
			<%= render 'packs/pack', f: pack_fields %>
		<% end %>
	</div>

	<div class="row">
		<div class="col-md-4">
			<h3>Delivery time</h3>
			<%= delivery_form.time_field :at, class: 'form-control' %>
		</div>

		<div class="col-md-4">
			<h3>Delivery address</h3>
			<%= delivery_form.collection_radio_buttons :address_id, @delivery.user.addresses.all, :id, :postal_address %>
		</div>
	</div>

	<%= delivery_form.hidden_field :on, value: active_menu_date %>

	<%= delivery_form.submit "Confirm order", class: 'btn btn-primary' %>
<% end %>

</div>