<% provide(:title, "Future orders") %>

<h1>Future orders</h1>

<table class="table table-hover">
	<tr>
		<th>
			Order number
		</th>
		<th>
			Despatch time
		</th>
		<th>
			User details
		</th>
		<th>
			Delivery address
		</th>
		<th>
			Payment details
		</th>
		<th>
			Kickerr details
		</th>
		<th>
			<%= "actions" %>
		</th>
	</tr>
	<% @deliveries.each do |delivery| %>
		<tr>
			<td>
				<%= delivery.id %><br><%= delivery.delivery_status.name %>
			</td>
			<td>
				<%= delivery.delivery_date %><br><%= delivery.at.strftime("%I:%M%p") %>
			</td>
			<td>
				<%= delivery.user.name %><br><%= delivery.user.phone_number %>
			</td>
			<td>
				<%= delivery.address.postal_address %>
			</td>
			<td>
				<%= "Payment date" %><br><%= "Payment time" %>
			</td>
			<td>
				<% delivery.packs.each do |pack| %>
					<%= pack.menu.kickerr.name %> : <%= pack.quantity %><br>
				<% end %>
			</td>
			<td>
				<%= link_to "edit", edit_delivery_path(delivery) %>
			</td>
		</tr>
	<% end %>
</table>