<li id="address-<%= address.id %>" style="list-style: none;">
  <h6><span class="address_name"><%= address.name %></span></h6>
  <div class="full_address" style="word-wrap: bread-word;"><%= address.full_address %></div>
  <span class="pincode"><%= address.pincode %></span><br>
  <% if current_user?(address.user) %>
  	<%= link_to "edit", edit_address_path(address), class: "btn btn-warning btn-xs", style: "background-color: #fed136; border-color: #ffffff; color: black;" %> | 
  	<%= link_to "delete", address, class: "btn btn-warning btn-xs", style: "background-color: #fed136; border-color: #ffffff; color: black; ", method: :delete,
  									data: { confirm: "You sure?" } %><br><br><br>
  <% end %>
</li>