<div class="panel panel-default">
	<div class="panel-heading">
		<strong><%= address.name %>, <%= address.locality %>, <%= address.city %></strong>
	</div>
	<div class="panel-body">
		<%= address.full_address %><br>
		<%= address.pincode %>
	</div>
	<% if current_user?(address.user) || current_user.admin? %>
		<div class="panel-footer">
			<%= link_to "edit", edit_address_path(address), class: "btn btn-warning btn-xs", style: "background-color: #fed136; border-color: #ffffff; color: black;" %> | 
  			<%= link_to "delete", address, class: "btn btn-warning btn-xs", style: "background-color: #fed136; border-color: #ffffff; color: black; ", method: :delete,
  									data: { confirm: "You sure?" } %>
		</div>
	<% end %>
</div>