<li id="address-<%= address.id %>">
  <span class="address_name"><%= link_to address.name, address %></span>
  <span class="full_address"><%= address.full_address %></span>
  <span class="pincode">><%= address.pincode %></span>
  <%= if current_user?(address.user) %>
  	<%= link_to "delete", address, 	method: :delete,
  									data: { confirm: "You sure?" } %>
  <% end %>
</li>