<%= image_tag kickerr.food_items.where(show_image: true).first.image.url :medium %>
<br>
<br>
<div class="portfolio-caption">
	<h4><%= kickerr.name %></h4>
	<p class="text-muted"><%= kickerr.description %></p>
	<h6 class="text-muted" style="color: <%= kickerr.colorize %>; font-size: 120%;"><%= kickerr.veg_type %></h6>
</div>