<% provide(:title, "All kickerrs") %>

<h1>All Kickerrs</h1>
<% if current_user.admin? %>
	<%= link_to "New kickerr", new_kickerr_path, class: "btn btn-xs", style: "background-color: #fed136; border-color: #ffffff; color: black;" %>
<% end %>

<table class="table table-hover">
	<tr>
		<th>
			Name
		</th>
		<th>
			Veg_Type
		</th>
		<th>
			Main(s)
		</th>
		<th>
			Beverage(s)
		</th>
		<th>
			Salad(s)
		</th>
		<th>
			Side(s)
		</th>
		<th>
			Description
		</th>
		<th>
			Price
		</th>
		<th>
			Actions
		</th>
	</tr>
	<% @kickerrs.each do |kickerr| %>
		<tr>
			<td>
				<%= kickerr.name %>
			</td>
			<td>
				<%= kickerr.veg_type %>
			</td>
			<td>
				<% if kickerr.food_items.present? %>
					<% kickerr.food_items.where(course: 'Main').each do |food_item| %>
						<%= food_item.name %><br>
					<% end %>
				<% end %>
			</td>
			<td>
				<% if kickerr.food_items.present? %>
					<% kickerr.food_items.where(course: 'Beverage').each do |food_item| %>
						<%= food_item.name %><br>
					<% end %>
				<% end %>
			</td>
			<td>
				<% if kickerr.food_items.present? %>
					<% kickerr.food_items.where(course: 'Salad').each do |food_item| %>
						<%= food_item.name %><br>
					<% end %>
				<% end %>
			</td>
			<td>
				<% if kickerr.food_items.present? %>
					<% kickerr.food_items.where(course: 'Side').each do |food_item| %>
						<%= food_item.name %><br>
					<% end %>
				<% end %>
			</td>
			<td>
				<%= kickerr.description %>
			</td>
			<td>
				<%= kickerr.price %>
			</td>
			<td>
				<%= link_to "edit", edit_kickerr_path(kickerr) %>
			</td>
		</tr>
	<% end %>
</table>