<% provide(:title, "All kickerrs") %>

<h1>All Kickerrs</h1>
<% if current_user.admin? %>
	<%= link_to "New kickerr", new_kickerr_path, class: "btn btn-xs", style: "background-color: #fed136; border-color: #ffffff; color: black;" %>
<% end %>

<table class="table table-hover">
	<tr>
		<th>
			Name
		</th>
		<th>
			Veg Type
		</th>
		<th>
			Food Items
		</th>
		<th>
			Description
		</th>
		<th>
			Size
		</th>
		<th>
			Price
		</th>
		<th>
			Actions
		</th>
	</tr>
	<%= will_paginate @kickerr %>
	<% @kickerrs.each do |kickerr| %>
		<tr>
			<td>
				<%= kickerr.name %>
			</td>
			<td>
				<%= kickerr.veg_type %>
			</td>
			<td>
				<% kickerr.food_items.each do |food_item| %>
					<%= food_item.name %> (<%= food_item.course %>)<br>
				<% end %>
			</td>
			<td>
				<%= kickerr.description %>
			</td>
			<td>
				<%= kicker.kickerr_size %> | <%= kickerr.size_description %>
			</td>
			<td>
				<%= kickerr.price %>
			</td>
			<td>
				<%= link_to "edit", edit_kickerr_path(kickerr) %>
			</td>
		</tr>
	<% end %>
</table>