<% provide(:title, "New Kickerr") %>

<h1>New Kickerr</h1>

<div class="row">
	<div class="col-md-6 col-md-offset-3">

		<%= form_for (@kickerr) do |f| %>
			<%= render 'shared/error_messages', object: f.object %>

			<%= f.label :name %>
			<%= f.text_field :name, class: 'form-control' %>

			<%= f.label :price %>
			<%= f.text_field :price, class: 'form-control' %>

			<%= f.label :description %>
			<%= f.text_area :description, class: 'form-control' %>

			<div class="field">
		        <div class="field_head">Food items</div>
	        	<%= hidden_field_tag("kickerr[food_item_ids][]", nil) %>
				<% FoodItem.all.each do |food_item| %>
					<label>
						<%= check_box_tag "kickerr[food_item_ids][]", food_item.id, food_item.id.in?(@kickerr.food_items.collect(&:id)) %>
						<%= food_item.name %>
					</label><br>
				<% end %>
			</div>

			<%= f.submit "Create kickerr", class: 'btn btn-primary' %>

		<% end %>
	</div>
</div>
