<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag 'application', media: 'all',
                                           'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <%= stylesheet_link_tag 'bootstrap.min' %>
    <%= stylesheet_link_tag 'agency' %>
    <%= stylesheet_link_tag 'font-awesome.min' %>

    <%= csrf_meta_tags %>

    <%= render 'layouts/shim' %>

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <style>
    .fa-stack-1x {
        top: -1.1px;
    }
    .onimg{
    position:absolute;
    }
    </style>
  </head>
  <body id="page-top" class="index">
    <%= render 'layouts/navigation' %>
    <div style="margin-top: 100px;">
    <%= yield %>
    </div>
    <%= render 'layouts/footer' %>

    <%= javascript_include_tag 'jquery' %>
    <%= javascript_include_tag 'bootstrap.min' %>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <%= javascript_include_tag 'classie' %>
    <%= javascript_include_tag 'cbpAnimatedHeader' %>

    <%= javascript_include_tag 'jqBootstrapValidation' %>
    <%= javascript_include_tag 'contact_me' %>
    <%= javascript_include_tag 'agency' %>
  </body>
</html>