<li><%= link_to "Users", users_path %></li>
<li><%= link_to "Foodiecalls", foodiecalls_path %></li>
<li><%= link_to "Orders", todays_orders_path %></li>
<li><%= link_to "Food items", food_items_path %></li>
<li><%= link_to "Kickerrs", kickerrs_path %></li>
<li><%= link_to "Menu", menus_path %></li>
<li><%= link_to "Chef View", chef_view_path %></li>
<li><%= link_to "Raw Mat. Req.", raw_material_requirement_path %>
<li><%= link_to "Log out", logout_path, method: "delete" %></li>